body {
  font-family: Teko;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* header */
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .list-header ul {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

header .list-header ul li a {
  margin: 15px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
}

header .list-header ul li a:hover,
header .list-header ul li a.active {
  color: #0082F9;
  padding-bottom: 52px;
  border-bottom: 5px solid #0082F9;
}



/* main */

main .content-main {
  background-color: #1C1C1C;
  padding: 30px;
  margin: 0 auto;
  color: white;
  font-size: 3rem;
}

main .info-main {
  background-color: #0082F9;
  height: 160px;
}

main .info-main ul {
  display: flex;
  position: relative;
  z-index: 200;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

main .info-main ul li {
  padding: 10px 0;
  margin-top: 50px;
}

main .info-main ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
}

main .info-main ul li a img {
  height: 50px;
  padding-right: 10px;
}



/* footer */
footer {
  background-image: url(src/img/footer-bg.jpg);
  object-fit: cover;
}

footer .section-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

footer .section-footer .list-footer {
  display: flex;
}

footer .section-footer .img-footer {
  margin: -100px;
}

footer .section-footer ul {
  list-style: none;
}

footer .section-footer ul li a {
  text-decoration: none;
}

footer .section-footer ul li a h4 {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
}

footer .section-footer ul li a li {
  color: lightgray;
  text-transform: capitalize;
  font-weight: 100;
}

footer .btn-social-footer {
  position: relative;
  z-index: 100;
  background-color: #303030;
  padding: 50px;
}

footer .btn-social-footer .btn-social {
  display: flex;
  justify-content: space-between;
}

footer .btn-social-footer .btn-social button {
  text-transform: uppercase;
  background-color: #303030;
  border-color: #0082F9;
  color: white;
  font-size: 1.5em;
  padding: 5px 15px;
}

footer .btn-social-footer .btn-social .social {
  margin-top: 10px;
}

footer .btn-social-footer .btn-social .social img {
  margin-right: 20px;
  margin-bottom: 10px;
}

footer .btn-social-footer .btn-social .social span {
  color: #0082F9;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 1.7em;
}